body {
max-width: 1126px;
margin: 0 auto;
font-family: 'Poppins', sans-serif;
}
header {
  width: 100%;
  max-width: 1400px;
  max-height: 78px;
  padding-top: 42px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}
.logo_wraper {
  display: block;
  margin-top: 22px;
  margin-bottom: 24px;
  margin-left: 43px;
}
nav {
  display: flex;
  margin-left: 200px;
  margin-right: 29px;
  margin-top: 10px;
  font-size: 14px;
  justify-content: center;
  font-family: Poppins;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  
}
a {
  text-decoration: none;
  color: #2F281E;
}
li {
  padding-left: 20px;
  list-style-type: none;
}
.header_auth {
  margin: 10px auto;
}
.sign_in {
background-color: #FFFFFF;
color: #173A56;
text-align: center;
font-size: 16px;
padding:11px 25px;
margin-right: 14px;
border-radius: 4px;
border: 1px solid #BCD0E5;
font-family: Poppins;
}
.sign_up {
background-color: #FF9900;
color: #FFFFFF;
text-align: center;
font-size: 16px;
padding: 11px 25px;
margin-right: 14px;
border-radius: 4px;
border: none;
font-family: Poppins;
}
.hero {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.hero_title {
  margin-top: 211px;
  padding-left: 45px;
  font-size: 44px;
  font-family: Poppins;
  font-weight: bold;
  line-height: 54px;
  text-align: left;
}
.hero_text {
  color: #544837;
  padding-top: 30px;
  text-align: left;
  padding-left: 45px;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  font-family: Poppins;
  flex-wrap: wrap;
  display: flex;

}
.hero_btn {
  padding-top: 45px;
  margin-left: 45px;
}
.btn_started {
background-color: #FF9900;
color: #FFFFFF;
text-align: center;
font-size: 16px;
padding: 15px 41px;
margin-right: 0px;
border-radius: 4px;
border: none;
font-family: Poppins;
font-weight: bold;
}
.icon_btn {
background-color: #FFFFFF;
color: #FF9900;
text-align: center;
font-size: 16px;
padding: 15px 41px;
margin-right: 0px;
border-radius: 4px;
border: none;
font-family: Poppins;
font-weight: normal;
}
.icon {
  color: #FF9900;
  font-style: normal;
  padding-right: 8px;
  text-decoration: none;
  font-size: 28px;
}
.img_hero {
  margin-top: 128px;
  padding-left: 20px;
  width: 605px;
  height: 494px;
}
.tools {
  margin-top: 160px;
}
.tools_title {
  margin:0 auto;
  text-align: center;
  font-size: 36px;
  max-width: 500px;
  font-weight: bold;
  line-height: 54px;
  font-family: Poppins;
  color: #2F281E;
}
.cards {
  width: 1095px;
  height: 204px;
  margin-left: 45px;
  margin-top: 54px;
  display: flex;
  flex-wrap: nowrap;
}
.icon_1 {
  margin-left: 45px;
  width: 51px;
  height: 50px;
}
.icon_2 {
  margin-left: 45px;
  width: 51px;
  height: 50px;
}
.icon_3 {
  margin-left: 45px;
  width: 51px;
  height: 50px;
}
.icon_4 {
  margin-left: 45px;
  width: 51px;
  height: 50px;
}
.icon1_title {
  font-size: 22px;
  font-weight: 600px;
  padding-top: 50px;
  text-align: center;
  padding-right: 76px;
  display: inline-block;
  
  
  
}
.icon1_text {
  color: #2F281E;
  padding-top: 13px;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  font-family: Poppins;
  width: 240px;
  height: 52px;
}
.card_btn {
  margin-left: 500px;
}
.sign_up_now {
background-color: #FF9900;
color: #FFFFFF;
text-align: center;
font-size: 16px;
padding: 15px 34px;
margin-right: 0px;
border-radius: 4px;
border: none;
font-family: Poppins;
font-weight: normal;
}